


body {
    font-family: monospace;
    color: yellow;
   background-image: url('https://yt3.ggpht.com/ZTyY7OolrH4joFGmD4Yx6VKOtYKWv0DgnfYIouRKTGzVf_UjHzgrKHeIgrjdLRHPeY6YnhjOq2I=s900-c-k-c0x00ffffff-no-rj');
}

#heading {
  color: yellow;
}

#p {
  color: yellow;
}

.light_theme {
    color: #000000;
}


.btn {
    border-width: 0px;
    color: yellow;
    background-color: var(--btn);
    font-size: 36px;
  border-color: yellow;
  z-index: 9;
}

#btn {
  z-index: 9;
}


#b9 {
  z-index: 9;
}


#credits {
  position: relative;
  top: -250px;
  color: yellow;
}

td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    z-index: 9;
    }
